/* Global Font Styles */
body {
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F8F5;
    color: #000;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Root flexbox layout */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main content fills available space */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* Prevent unnecessary horizontal scrolling */
.container {
    max-width: 100%;
    overflow-x: hidden;
}

/* Theme Colors */
:root {
    --main-color: #152450;
    --secondary-color: #F9F8F5;
    --tertiary-color: #FF451A;
    --text-color-light: #FFF;
    --text-color-dark: #000;
}

/* Navbar container */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--main-color);
    color: var(--text-color-light);
}

/* Navbar links aligned to the left */
.navbar-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Links styling */
.navbar-links li a {
    text-decoration: none;
    color: var(--text-color-light);
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
}

.navbar-links li a:hover {
    color: #e03f18;
}

/* Navbar buttons aligned to the right */
.navbar-buttons {
    display: flex;
    gap: 10px;
}

.navbar-buttons button {
    background-color: var(--tertiary-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
}

.navbar-buttons button:hover {
    background-color: #e03f18;
    color: var(--text-color-dark);
}

/* Footer Styles */
footer {
  background-color: var(--main-color);
  color: var(--text-color-light);
  text-align: center;
  padding: 10px;
  width: 100%;
  position: static; /* Ensure it stays in the normal flow */
  bottom: 0;
}

/* Home Page Content */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align content to the top */
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 60px); /* Adjust for footer height */
  box-sizing: border-box; /* Include padding in height calculations */
}

.home-content {
  max-width: 80%; /* Prevent content from stretching too wide */
  text-align: center;
}

/* Fade Image Container */
.image-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* Control max width of the image container */
  margin-top: 20px; /* Add spacing above */
}

.fade-image {
  /* display: block; */
  width: 100%;
  max-width: 100%; /* Image resizes with container */
  height: auto; /* Maintain aspect ratio */
}


/* Buttons */
button {
    background-color: var(--tertiary-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

button:hover {
    background-color: #e03f18;
}

/* Headings */
h1 {
  text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: var(--main-color);
    margin-top: 0;
}

/* Links */
a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover {
    color: var(--tertiary-color);
}

/* Cards */
.card {
    background-color: var(--secondary-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: var(--main-color);
}

.card p {
    color: var(--text-color-dark);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal container */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
}

/* Form styles */
form input {
    display: block;
    /* max-width: fit-content; */
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: inherit;
    font-size: 14px;
    box-sizing: border-box;
}

/* Button styles */
form button {
    background-color: #ff451a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    margin-right: 10px;
}

form button:hover {
    background-color: #e03f18;
}

/* Cancel button (secondary style) */
form button[type="button"] {
    background-color: #ccc;
    color: #000;
}

form button[type="button"]:hover {
    background-color: #bbb;
}

/* Cookie Consent Banner */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #152450;
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: 1000;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .cookie-banner-text {
    margin: 0 0 10px;
    font-size: 14px;
  }
  
  .cookie-banner-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .cookie-banner-accept-button {
    background-color: #28a745;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cookie-banner-accept-button:hover {
    background-color: #218838;
  }
  
  .cookie-banner-decline-button {
    background-color: #dc3545;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cookie-banner-decline-button:hover {
    background-color: #c82333;
  }

  .register-page {
    display: flex;
    height: 100vh;
  }
  
  .register-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f8f5;
  }
  
  .register-image img {
    max-width: 100%;
    height: auto;
  }
  
  .register-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
  }
  
  .register-form h2 {
    text-align: center;
    color: #152450;
  }
  
  .register-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .register-form form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .register-form form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-form form button[type="submit"] {
    background-color: #ff451a;
    color: white;
  }
  
  .register-form form button[type="submit"]:disabled {
    background-color: #ccc;
  }
  
  .register-form form button[type="button"] {
    background-color: #ccc;
    color: black;
  }